{% extends 'Master.html' %}

{% block content %}
<div class="container">
    {% if errors is defined %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error.getMessage() }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form action="/admin/category/store" method="post">
        <div class="form-group">
            <label for="name">Имя категории:</label>
            <input class="form-control" type="text" id="name" name="name"
                   {% if fields is defined %} value="{{ fields.name }}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="parent">Родитель:</label>
            <select class="form-control" name="parent" id="parent">
                {% for item in items %}
                   <option value="{{ item.pk }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-success" type="submit">Добавить категорию</button>
        <a class="btn btn-danger" href="/admin/category">Уйти не добавив</a>
    </form>
</div>
{% endblock %}