{% extends 'Master.html' %}

{% block content %}
<div class="container">
    {% for product in products %}
    <ul>
        <li>Категория: {{ product.category.name }}</li>
        <li>Название: {{ product.name }}</li>
        <li>Цена: {{ product.price }}</li>
        <li>Колличество: {{ product.count }}</li>
        <li>Описание: {{ product.description }}</li>
    </ul>
    <a href="/admin/product/show?id={{ product.pk }}">Посмотреть</a> |
    <a href="/admin/product/edit?id={{ product.pk }}">Редактировать</a> |
    <a href="/admin/product/delete?id={{ product.pk }}">Удалить</a>
    <hr>
    {% endfor %}
</div>
{% endblock %}